.navbar {
    margin-top: 20px;
}

.navbar .navbar-title a {
    color: var(--color-secondary);
    text-decoration: none;

}

.navbar .navbar-title a h2 {
    font-size: max(4vw, 30px);
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

@media screen and (max-width: 490px) {
    .navbar .navbar-title a h2 {
        font-size: max(2vw, 20px);
    }
}