.displayTable {
    color: white;
    border: solid 0.3vh;
    border-radius: 3.7vh;
    padding: 4.5vh;
}

button, input[type="button"] {
    background-color: #4CAF50;
    /* color: var(--color-primary); */
    /* padding: 14px 20px; */
    margin: 1.2vh 0;
    border: none;
    cursor: pointer;
    width: fit-content;
}

.authBlock{
        text-align: center;
}
.formControl{
    border-radius: 1.25vh;
    padding: 0.4vh 1.5vh;
    margin-top: 2.25vh;
}
.text{
    cursor:pointer;
    user-select: none;
}
.line{
    color: thistle;
}
span{
    color:rgba(245, 245, 245, 0.774);
}
