.container {
    color: #000;
    font-size: 1.2rem;
}

.btn {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    margin: 20px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;

}