<div class="common-section education-section">
  <div class="common-container">
    <div class="form-container">
      <form>
        <section>
          <!-- <pre>{{educationDetails | json}}</pre> -->
          <div class="form-section">
            <h2>Detail {{ educationDetails.id }}</h2>
            <div class="form_group field">
              <label for="schoolName" class="form_label">
                School/College Name
              </label>
              <input
                class="form_field"
                placeholder="School/College Name"
                name="schoolName"
                id="schoolName"
                [(ngModel)]="educationDetails.schoolName"
                value="{{ educationDetails.schoolName }}"
                required
              />
            </div>
            <div class="form_group field">
              <label for="schoolLocation" class="form_label">
                School/College Location
              </label>
              <input
                class="form_field"
                placeholder="School/College Location"
                name="schoolLocation"
                id="schoolLocation"
                [(ngModel)]="educationDetails.schoolLocation"
                value="{{ educationDetails.schoolLocation }}"
                required
              />
            </div>
            <div class="form_group field">
              <label for="degree" class="form_label"> Degree </label>
              <input
                class="form_field"
                placeholder="Degree"
                name="degree"
                id="degree"
                [(ngModel)]="educationDetails.degree"
                value="{{ educationDetails.degree }}"
                [(ngModel)]="educationDetails.degree"
                required
              />
            </div>
            <div class="form_group field">
              <label for="fieldOfStudy" class="form_label">
                Field Of Study
              </label>
              <input
                class="form_field"
                placeholder="Field Of Study"
                name="fieldOfStudy"
                id="fieldOfStudy"
                [(ngModel)]="educationDetails.fieldOfStudy"
                value="{{ educationDetails.fieldOfStudy }}"
                required
              />
            </div>
            <div class="form_group field">
              <label for="startDate" class="form_label"> Start Date </label>
              <input
                class="form_field"
                placeholder="Start Date"
                name="startDate"
                id="startDate"
                [(ngModel)]="educationDetails.startDate"
                value="{{ educationDetails.startDate }}"
                required
              />
            </div>
            <div class="form_group field">
              <label for="endDate" class="form_label"> End Date </label>
              <input
                class="form_field"
                placeholder="End Date"
                name="endDate"
                id="endDate"
                value="{{ educationDetails.endDate }}"
                [(ngModel)]="educationDetails.endDate"
              />
            </div>
            <textarea
              placeholder="Add a description (optional)"
              rows="{6}"
              name="eduDescription"
              value="{{ educationDetails.eduDescription }}"
              [(ngModel)]="educationDetails.eduDescription"
            ></textarea>
          </div>
          <div
            class="form_group field"
            *ngIf="educationDetails.id == educationDetailsLength"
          >
            <button
              class="form_button"
              type="button"
              (click)="onEducationDetailsSubmit()"
            >
              Save
              <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </button>
          </div>
        </section>
      </form>
    </div>
  </div>
</div>
