.row {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
} 

.logo-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
    border-radius: 3vw;
    max-height: 45%;
    max-width: 30%;
    min-height: 45%;
    min-width: 60%;
}

.logo-container img {
    max-width: calc(100% - 20px);
    max-height: calc(100% - 20px);
    min-width: calc(100% - 20px);
    min-height: calc(100% - 20px);
}

.btn-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    align-self: center;
}

.btn-container button {
    background-color: #4CAF50;
    color: var(--color-primary);
    padding: 14px 20px;
    margin: 10px 0;
    width: 40vw;
    min-width: fit-content;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    opacity: 0.9;
    font-size: max(1.2vw, 0.9rem);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}