/* .common-section {
    padding: 0px;
    margin: 0px;
    width: 70vw;
} */

.form-section {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    margin-top: 10px;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
}

input, textarea {
    padding: 10px;
    width: 60vw;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
}

button {
    width: 60vw;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 20px;
    font-size: 14px;
    font-weight: bold;
}